{% extends 'index.html' %} {% load static %} 
{% block title %}Edit Property{% endblock %}
{% block content %}
<main class="main">
  <div class="page-title" data-aos="fade">
    <div class="heading">
      <div class="container">
        <h2>Edit Property</h2>

        <form method="POST" enctype="multipart/form-data" action="{% url 'edit_property' property.id %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              value="{{ property.title }}"
              required
            />
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <select class="form-control" id="city" name="city" required>
                {% for value, display in city_choices %}
                    <option value="{{ value }}" 
                            {% if value == property.city %}selected{% endif %}>
                        {{ display }}
                    </option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group mb-3">
            <label>Area (Aana)</label>
            <input
              type="number"
              class="form-control"
              name="area"
              value="{{ property.area }}"
              required
            />
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>Bedrooms</label>
              <input
                type="number"
                class="form-control"
                name="bedrooms"
                value="{{ property.bedrooms }}"
                required
              />
            </div>
            <div class="col-md-4">
              <label>Bathrooms</label>
              <input
                type="number"
                class="form-control"
                name="bathrooms"
                value="{{ property.bathrooms }}"
                required
              />
            </div>
            <div class="col-md-4">
              <label>Floors</label>
              <input
                type="number"
                class="form-control"
                name="stories"
                value="{{ property.stories }}"
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <label>Main Road Access</label>
                <select class="form-control" name="mainroad" required>
                    <option value="True" {% if property.mainroad %}selected{% endif %}>Yes</option>
                    <option value="False" {% if not property.mainroad %}selected{% endif %}>No</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Guest Room</label>
                <select class="form-control" name="guestroom" required>
                    <option value="True" {% if property.guestroom %}selected{% endif %}>Yes</option>
                    <option value="False" {% if not property.guestroom %}selected{% endif %}>No</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Basement</label>
                <select class="form-control" name="basement" required>
                    <option value="True" {% if property.basement %}selected{% endif %}>Yes</option>
                    <option value="False" {% if not property.basement %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Hot Water Heating</label>
                <select class="form-control" name="hotwaterheating" required>
                    <option value="True" {% if property.hotwaterheating %}selected{% endif %}>Yes</option>
                    <option value="False" {% if not property.hotwaterheating %}selected{% endif %}>No</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Air Conditioning</label>
                <select class="form-control" name="airconditioning" required>
                    <option value="True" {% if property.airconditioning %}selected{% endif %}>Yes</option>
                    <option value="False" {% if not property.airconditioning %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>
          <div class="row">
            <div class="col-md-4">
              <label>Parking (No. of Cars)</label>
              <input
                type="number"
                class="form-control"
                id="parking"
                name="parking"
                value="{{ property.parking }}"
                required
              />
            </div>

            <div class="col-md-4">
              <label>Furnishing Status</label>
              <select class="form-control" id="furnishingstatus" name="furnishingstatus">
                {% for value, display in furnishing_choices %}
                    <option value="{{ value }}" 
                            {% if value == property.furnishingstatus %}selected{% endif %}>
                        {{ display }}
                    </option>
                {% endfor %}
            </select>
            </div>

            <div class="col-md-4">
              <label>Price (Rs.)</label>
              <input
                type="number"
                class="form-control"
                name="price"
                value="{{ property.price }}"
                required
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-4">
              <label>Sale Status</label>
              <select class="form-control" name="sale_status" required>
                  {% for value, display in sale_status_choices %}
                      <option value="{{ value }}" {% if value == property.sale_status %}selected{% endif %}>
                          {{ display }}
                      </option>
                  {% endfor %}
              </select>
          </div>
        </div>

          <div class="form-group mb-3">
            <label for="property_image">Property Image:</label>
            <input type="file" class="form-control-file" id="property_image" 
                   name="property_image"/>
            {% if property.images.all %}
                <small>Current image: {{ property.images.first.image.name|cut:"property_images/" }}<img  style="margin-top: 20px; height: 70px; width: 70px; object-fit: cover; border-radius: 10px;"
                  src="{{ property.images.first.image.url }}"
                  alt="House Image"
                  class="img-fluid mb-4"
                /></small>
            {% endif %}
          </div>

          <button type="submit" class="btn btn-success">Update Property</button>
          <a href="{% url 'user_dashboard' %}" class="btn btn-secondary"
            >Cancel</a
          >
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
